@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #161B22; /* secondary color */
}

::-webkit-scrollbar-thumb {
  background: #30363D; /* border-color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #58A6FF; /* accent color */
}
